body {
  display: flex;
  align-items: center;
  background-color: #212121;
  margin: 0px;
  max-width: 100%;
  overflow: hidden;
}

.vsc-initialized {
  max-width: 100%;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  color: #EEEEEE;
  position: absolute;
  bottom: 0;
  background-color: transparent;
  padding: 30px;
  border-top: 1px solid rgba(230, 230, 230, 0.2);
  width: 100vw;
  padding-top: 67px;
}

.row {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.row li {
  background-color: transparent;
  width: 72px;
  height: 72px;
  border: 1px solid rgba(220, 220, 220, 0.6);
  padding-left: 30px;
  padding-top: 24px;
  border-radius: 6px;
  box-sizing: border-box;
  margin: 4px;
  color: rgba(220, 220, 220, 0.934);
  box-shadow: 0px 0px 9px 0px rgba(220, 220, 220, 0.2);
  transition: ease 500ms;

}

.heatmap {
  margin-left: -13px;
  border-top: none;
}

.heatmap li {
  background-color: #212121;
  width: 0;
  height: 0;
  margin: 39.5px;
  margin-left: 44px;
  margin-right: 32px;
  border: none;
  padding: 0px;
  }

.row-mid {
  margin-left: -38px;
}

.row-bottom {
  margin-left: -120px;
}

.input {
  display: flex;
  color: rgba(220, 220, 220, 0.934);
  flex-wrap: wrap;
  max-height: 56vh;
  padding: 38px;
  overflow: scroll;
  margin-top: 31px;
  margin-left: 40px;
}

.input::-webkit-scrollbar {
    display: none;
}

.word {
  list-style: none;
  font-family: "Assistant", sans-serif;
  display: flex;
  font-size: 33px;
  font-weight: 400;
  padding: 4px;
  margin: 0px;
}

.word li {
  transition: ease .5ms;
}

.lead {
  font-family: "Assistant", sans-serif;
  font-size: 68px;
  font-weight: 100;
  color: rgba(220, 220, 220, 0.6);
  position: absolute;
  top: 31px;
  left: 37px;
}

.paste-box {
  position: absolute;
  top: 23px;
  display: flex;
  align-items: center;
}

.paste-input {
  outline: none;
  background: transparent;
  height: 36px;
  border-radius: 6px;
  border: 1px solid rgba(220, 220, 220, 0.6);
  box-shadow: 0px 0px 9px 0px rgba(220, 220, 220, 0.2);
  font-family: 'Source Code Pro', monospace;
  width: 713px;
  font-weight: 500;
  font-size: 16px;
  padding-left: 9px;
  color: rgba(220, 220, 220, 0.4);
  margin-right: -1px;
  font-family: 'Assistant', sans-serif;
  font-weight: 300;
}

button {
  font-family: 'Assistant', sans-serif;
  outline: none;
  background: transparent;
  border: 1px solid rgba(220, 220, 220, 0.6);
  height: 39px;
  width: 55px;
  border-radius: 6px;
  color: rgba(220, 220, 220, 0.934);
  box-shadow: 0px 0px 9px 0px rgba(220, 220, 220, 0.2);
  font-weight: 300;
  cursor: pointer;
  transition: ease 200ms;
  margin-right: 7px;
  font-weight: 100;
  font-size: 14px;
}

button:hover {
  box-shadow: 0px 0px 9px 0px rgba(220, 220, 220, 0.6);
  padding: 0px
}

.start-input {
  margin-right: -2px;
  margin-bottom: -2px;
}

.reset-button {

}
